img {
    height: 400px;
    width: auto;
}

.index-page {
    background-color: #7fffd4;
}

.index-page h1 {
    background-color: #ffe4c4;
    text-align: center;
}

.recipe-page {
    background-color: #ffe4c4;
}

.food-name {
    text-align: center;
    background-color: #7fffd4;
    font-weight: 600;
}

.recipe-link {
    font-size: 24px;
    font-weight: bold;
}

.food-desc {
    font-size: 24px;
    text-align: center;
    font-style: italic;
}